<div class="heading">
    <h1 >SAPTO CREATIONS</h1>
    <h2> Part with your artistic excellence, we will do the rest</h2>
</div>
<title>Part with your artistic excellence, we will do the rest | Sapto Creations</title>

<nav>
    <!-- <app-home></app-home>
    <app-collections></app-collections>
    <app-about-us></app-about-us> -->
    <a routerLink="/home">HOME</a>
    <a routerLink="/collections">COLLECTIONS</a>
    <a routerLink="/faq">FAQ</a>
    <a routerLink="/about-us">ABOUT US</a>
</nav>