<div class="footer-margin">
    <p>footer works!</p>
    <p>Copyright &copy; 2021</p>
    <p>All rights reserved</p>
</div>
<div>
    <p>FOLLOW US</p>
    <div>
        <!--Facebook-->
        <a href="https://www.facebook.com/saptooocreations/">
            <img src="https://img.icons8.com/color/48/000000/facebook-new.png"/>
        </a>
        <!--Instagram-->
        <a href="https://instagram.com/sapto_creations?utm_medium=copy_link">
            <img src="https://img.icons8.com/color/48/000000/instagram-new--v2.png"/>
        </a>
        <p>Email us: <a>saptocreations@gmail.com</a></p>
    </div>
    
</div>